/* =============== BASISSTIJLEN =============== */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "avenir-next-lt-pro", sans-serif;
  font-weight: 80;
  font-style: normal;
  display: flex;
  flex-direction: column;
}

header{
  width: 100%;
  margin-top: 2vw;
  padding-bottom:2vw;
}


.top{
  display: flex;
justify-content: space-around;
align-items: center;
}

main{
  width: 80%;
  display: flex;
  align-self: center;
}


h1{
    /*background-color: #14580C;*/
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    display: flex;
    justify-content: center;
}


.titel{
  background-color: rgb(15, 44, 103);
  color: rgb(255, 255, 255);
  font-family: "Capriola", sans-serif;
  font-weight: 400;
  font-size: 4vw;
  font-style: normal;
  margin: 1vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  padding-left: 2vw;
  padding-right: 2vw;
  border-radius: 8px;
}

.onderkop{
  font-size: 2.5vw;
  margin-top: 0px;
}


h3 {
  font-family: "Capriola", sans-serif;
  font-size: 3vw;
}

p{
text-align: center;
font-size: 130%;
}

.slogan{
  font-style: italic;
padding-left: 10%;
text-align: start;
font-size: 190%;
}


/* menu balk*/
.menu{
  display: flex;
  justify-content: space-around;
}

.tablink {
  font-family: "avenir-next-lt-pro", sans-serif;
  font-weight: 80;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1% 1%;
  font-size: 1.2em;
  border-radius: 8px;
  margin: 0.2em;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tablink:hover {
  box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
  transform: scale(1.03);
  padding: 1%;
}

.tabcontent {
  color: rgb(0, 0, 0);
  display: none;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.tabmenu {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around;
  gap: 0.5em;
  margin: 1em auto;
  padding: 0.5em 0;
  max-width: 1200px;
  width: 100%;
}

.select {
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  }

.select:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: scale(1.03);
}

.uitleg{
  font-size: 90%;
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
}

figure{
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
    border-radius: 8px;
}

.footer{
  display: block;
  font-style: italic;
  unicode-bidi: isolate;
  font-size: 70%;
  margin-top: 5%;
  margin-bottom: 10%;
}


/* overig */
.downloadbutton{
  border-radius: 1vw;
  background-color: rgb(171, 199, 223);
  color: rgb(255, 255, 255);
  border: 0px;
  font-size: 3vw;
  padding: 2vw;
  margin: 6vw;
  cursor: pointer;
}

.downloaden{
  color: rgb(255, 255, 255);
}

input{
  width: 15vw;
  height: 1.5vw;
}
textarea{
  width: 30vw;
  height: 10vw;
}

